<div class="row">
  <div class = "col-sm-4" *ngFor ="let p of products">
      <div class="card border-primary mb-3" >
          <div class="card-header">{{p.title}}</div>
          <div class="card-body">
            <h4 class="card-title">{{p.name}}</h4>
            <p class="card-text">{{p.desc}}</p><BR>
            <p>Price : {{p.price}}</p>
          </div>
          <button type="submit" class="btn btn-primary" (click)="add(p.title)" >Add to Cart</button>
          <button type="submit" class="btn btn-primary">View Product</button>
          
  </div>
  </div>        